/* Custom class for image padding */
.image-icon {
  padding: 10px;
  width: 150px;
  height: 150px;
}

.body {
  font-size: 14px;
}
.image-small {
  width: 50px;
  margin-right: 10px;
}
.transferitem {
  display: flex;
}
.body {
  font-size: 14px;
}

td {
  width: 25vw;
}

.pointer {
  cursor: pointer;
}
.pointer:hover {
  transform: scale(1.05);
  font-weight: bold;
}
